<div class="panel panel-default formulaire">
  <div class="panel-heading">
    Ajouter Admin
  </div>
  <div class="panel-body">
    <%= render 'form', admin: [:admin, @admin] %>
  </div>
</div>

<%= link_to 'Back', admin_admins_path, :class => "btn btn-primary" %>
